<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  IgnorableNamespaces="uap mp genTemplate rescap">

  <Identity
    Name="RocketChatUWP"
    Publisher="CN=milos"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4A9CA9F8-BD19-40DC-A4C4-4918C41F1332" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>RocketChatUWP</DisplayName>
    <PublisherDisplayName>milosz</PublisherDisplayName>
    <Logo>Assets\rocket-small-logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="RocketChatUWP.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\rocket-small-logo.png"
        Square44x44Logo="Assets\rocket-small-logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="#131d2d">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\rocket-chat-logo.png" />
      </uap:VisualElements>

      <Extensions>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="videosLibrary"/>
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v3.6.20139.1" />
    <genTemplate:Item Name="templatesVersion" Version="v3.6.20139.1" />
    <genTemplate:Item Name="projectType" Value="Blank" />
    <genTemplate:Item Name="framework" Value="Prism" />
    <genTemplate:Item Name="platform" Value="Uwp" />
  </genTemplate:Metadata>
</Package>